[Unit]
Description=Herald
After=multi-user.target
Documentation=http://www.delaneymorgan.com.au

[Service]
User=root
Group=root
Type=simple
StandardOutput=inherit
StandardError=inherit
Restart=always
Environment="HOME=/home/root"


WorkingDirectory=/home/root/project/herald
ExecStart=/home/root/project/herald/herald.py

[Install]
WantedBy=multi-user.target
